{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container pt-5 hero">
    {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message|safe }}
                    {% endfor %}
                </div>
            {% endif %}
        <div class="row align-items-center text-center text-md-left">
            <div class="col-lg-4">
                <h1 class="mb-3 display-3">Tell Your Story to the World</h1>
                <p>Join with us! Login or Register. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus,
                    ex!</p>
            </div>
            <div class="col-lg-8">
                <img src="{% static "images/1x/asset-1.png" %}" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="featured-user  mb-5 mb-lg-0">
                        <h3 class="mb-4">Popular Podcaster</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <img src="{% static "images/person_1.jpg" %}" alt="Image" class="img-fluid mr-2">
                                    <div class="podcaster">
                                        <span class="d-block">Claire Stanford</span>
                                        <span class="small">32,420 podcasts</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <img src="{% static "images/person_2.jpg" %}" alt="Image" class="img-fluid mr-2">
                                    <div class="podcaster">
                                        <span class="d-block">Dianne Winston</span>
                                        <span class="small">12,381 podcasts</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <img src="{% static "images/person_3.jpg" %}" alt="Image" class="img-fluid mr-2">
                                    <div class="podcaster">
                                        <span class="d-block">Borris Larry</span>
                                        <span class="small">9,291 podcasts</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <img src="{% static "images/person_4.jpg" %}" alt="Image" class="img-fluid mr-2">
                                    <div class="podcaster">
                                        <span class="d-block">Garry Smith</span>
                                        <span class="small">3,291 podcasts</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <img src="{% static "images/person_5.jpg" %}" alt="Image" class="img-fluid mr-2">
                                    <div class="podcaster">
                                        <span class="d-block">Gerson Stack</span>
                                        <span class="small">1,092 podcasts</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <img src="{% static "images/person_6.jpg" %}" alt="Image" class="img-fluid mr-2">
                                    <div class="podcaster">
                                        <span class="d-block">Jenna Stone</span>
                                        <span class="small">911 podcasts</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-9">
                    {% for podcast in page_obj %}
                        <div class="col-lg-9">
                            <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                                <div class="image" style="background-image: url({{ podcast.image.url }});"></div>
                                <div class="text">
                                    <h3 class="font-weight-light"><a
                                            href="{% url "podcast_detail" podcast.title %}">{{ podcast.title }}</a>
                                    </h3>
                                    <div class="text-white mb-3">
                                    <span class="text-black-opacity-05"><small>By {{ podcast.author }} <span
                                            class="sep">/</span> {{ podcast.created_at |date:"F j, Y" }}<span
                                            class="sep">/</span> {{ podcast.formatted_duration }}</small></span>
                                    </div>
                                    <div class="player">
                                        <audio id="player2" preload="none" controls style="max-width: 100%">
                                            <source src="{{ podcast.mp3_file.url }}" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                            </div>

                            {##}
                            {#                        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">#}
                            {#                            <div class="image" style="background-image: url('{% static "images/img_2.jpg" %}');"></div>#}
                            {#                            <div class="text">#}
                            {##}
                            {#                                <h3 class="font-weight-light"><a href="single-post.html">Episode 07: How To Create Web#}
                            {#                                    Page Using Bootstrap 4</a></h3>#}
                            {#                                <div class="text-white mb-3"><span#}
                            {#                                        class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span#}
                            {#                                        class="sep">/</span> 1:30:20</small></span></div>#}
                            {##}
                            {#                                <div class="player">#}
                            {#                                    <audio id="player2" preload="none" controls style="max-width: 100%">#}
                            {#                                        <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3"#}
                            {#                                                type="audio/mp3">#}
                            {#                                    </audio>#}
                            {#                                </div>#}
                            {##}
                            {#                            </div>#}
                            {#                        </div>#}
                            {##}
                            {##}
                            {#                        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">#}
                            {#                            <div class="image" style="background-image: url('images/img_3.jpg');"></div>#}
                            {#                            <div class="text">#}
                            {##}
                            {#                                <h3 class="font-weight-light"><a href="single-post.html">Episode 06: How To Create Web#}
                            {#                                    Page Using Bootstrap 4</a></h3>#}
                            {#                                <div class="text-white mb-3"><span#}
                            {#                                        class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span#}
                            {#                                        class="sep">/</span> 1:30:20</small></span></div>#}
                            {##}
                            {##}
                            {#                                <div class="player">#}
                            {#                                    <audio id="player2" preload="none" controls style="max-width: 100%">#}
                            {#                                        <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3"#}
                            {#                                                type="audio/mp3">#}
                            {#                                    </audio>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {##}
                            {##}
                            {#                        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">#}
                            {#                            <div class="image" style="background-image: url('images/img_4.jpg');"></div>#}
                            {#                            <div class="text">#}
                            {##}
                            {#                                <h3 class="font-weight-light"><a href="single-post.html">Episode 05: How To Create Web#}
                            {#                                    Page Using Bootstrap 4</a></h3>#}
                            {#                                <div class="text-white mb-3"><span#}
                            {#                                        class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span#}
                            {#                                        class="sep">/</span> 1:30:20</small></span></div>#}
                            {##}
                            {##}
                            {#                                <div class="player">#}
                            {#                                    <audio id="player2" preload="none" controls style="max-width: 100%">#}
                            {#                                        <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3"#}
                            {#                                                type="audio/mp3">#}
                            {#                                    </audio>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {##}
                            {##}
                            {#                        <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">#}
                            {#                            <div class="image" style="background-image: url('images/img_5.jpg');"></div>#}
                            {#                            <div class="text">#}
                            {##}
                            {#                                <h3 class="font-weight-light"><a href="single-post.html">Episode 04: How To Create Web#}
                            {#                                    Page Using Bootstrap 4</a></h3>#}
                            {#                                <div class="text-white mb-3"><span#}
                            {#                                        class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span#}
                            {#                                        class="sep">/</span> 1:30:20</small></span></div>#}
                            {##}
                            {##}
                            {#                                <div class="player">#}
                            {#                                    <audio id="player2" preload="none" controls style="max-width: 100%">#}
                            {#                                        <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3"#}
                            {#                                                type="audio/mp3">#}
                            {#                                    </audio>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                        </div>#}
                        </div>
                    {% endfor %}
                    <div class="container" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="site-block-27">
                                    {% if page_obj.has_other_pages %}
                                        <ul>
                                            {% if page_obj.has_previous %}
                                                <li><a href="?page=1" class="icon-keyboard_arrow_left"></a></li>
                                                <li>
                                                    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                                </li>
                                            {% endif %}

                                            <li class="active"><span>{{ page_obj.number }}</span></li>

                                            {% if page_obj.has_next %}
                                                <li>
                                                    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                                </li>
                                                <li><a href="?page={{ page_obj.paginator.num_pages }}"
                                                       class="icon-keyboard_arrow_right"></a></li>
                                            {% endif %}

                                            {#                                    {% if articles.has_other_pages %}#}
                                            {#                                    <ul class="page-numbers">#}
                                            {#                                        {% if articles.has_previous %}#}
                                            {#                                            <li><a href="?page={{ articles.previous_page_number }}"><i#}
                                            {#                                                    class="fa fa-angle-double-left"></i></a></li>#}
                                            {#                                        {% endif %}#}
                                            {#                                        {% for i in articles.paginator.page_range %}#}
                                            {#                                            {% if articles.number == i %}#}
                                            {#                                                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>#}
                                            {#                                            {% else %}#}
                                            {#                                                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
                                            {#                                            {% endif %}#}
                                            {##}
                                            {#                                        {% endfor %}#}
                                            {#                                        {% if articles.has_next %}#}
                                            {#                                            <li><a href="?page={{ articles.next_page_number }}{% if request.GET.q%}&q={{request.GET.q}}{% endif%}"><i#}
                                            {#                                                    class="fa fa-angle-double-right"></i></a></li>#}
                                            {#                                        {% endif %}#}
                                            {#                                    </ul>#}
                                            {#                                {% endif %}#}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div class="site-section">
          <div class="container" data-aos="fade-up">
            <div class="row mb-5">
              <div class="col-md-12 text-center">
                <h2 class="font-weight-bold text-black">Behind The Mic</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                  <img src="images/person_1.jpg" alt="Image" class="img-fluid">

                  <div class="text">

                    <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                    <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                    <p>
                      <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                  <img src="images/person_2.jpg" alt="Image" class="img-fluid">

                  <div class="text">

                    <h2 class="mb-2 font-weight-light h4">Brooke Cagle</h2>
                    <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                    <p>
                      <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                  <img src="images/person_3.jpg" alt="Image" class="img-fluid">

                  <div class="text">

                    <h2 class="mb-2 font-weight-light h4">Philip Martin</h2>
                    <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                    <p>
                      <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                  <img src="images/person_4.jpg" alt="Image" class="img-fluid">

                  <div class="text">

                    <h2 class="mb-2 font-weight-light h4">Steven Ericson</h2>
                    <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                    <p>
                      <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                  <img src="images/person_5.jpg" alt="Image" class="img-fluid">

                  <div class="text">

                    <h2 class="mb-2 font-weight-light h4">Nathan Dumlao</h2>
                    <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                    <p>
                      <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
                <div class="team-member">

                  <img src="images/person_6.jpg" alt="Image" class="img-fluid">

                  <div class="text">

                    <h2 class="mb-2 font-weight-light h4">Brooke Cagle</h2>
                    <span class="d-block mb-2 text-white-opacity-05">Creative Director</span>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                    <p>
                      <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                      <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                    </p>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div> -->

        <div class="site-section bg-light block-13">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <h2 class="font-weight-bold text-black">Featured Guests</h2>
                    </div>
                </div>
                <div class="nonloop-block-13 owl-carousel">

                    <div class="text-center p-3 p-md-5 bg-white">
                        <div class="mb-4">
                            <img src="{% static "images/person_1.jpg" %}" alt="Image"
                                 class="w-50 mx-auto img-fluid rounded-circle">
                        </div>
                        <div class="">
                            <h3 class="font-weight-light h5">Megan Smith</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum
                                sed ea? Ducimus quos, ea?</p>
                        </div>
                    </div>

                    <div class="text-center p-3 p-md-5 bg-white">
                        <div class="mb-4">
                            <img src="{% static "images/person_2.jpg" %}" alt="Image"
                                 class="w-50 mx-auto img-fluid rounded-circle">
                        </div>
                        <div class="">
                            <h3 class="font-weight-light h5">Brooke Cagle</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum
                                sed ea? Ducimus quos, ea?</p>
                        </div>
                    </div>

                    <div class="text-center p-3 p-md-5 bg-white">
                        <div class="mb-4">
                            <img src="{% static "images/person_3.jpg" %}" alt="Image"
                                 class="w-50 mx-auto img-fluid rounded-circle">
                        </div>
                        <div class="">
                            <h3 class="font-weight-light h5">Philip Martin</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum
                                sed ea? Ducimus quos, ea?</p>
                        </div>
                    </div>

                    <div class="text-center p-3 p-md-5 bg-white">
                        <div class="mb-4">
                            <img src="{% static "images/person_4.jpg" %}" alt="Image"
                                 class="w-50 mx-auto img-fluid rounded-circle">
                        </div>
                        <div class="">
                            <h3 class="font-weight-light h5">Steven Ericson</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum
                                sed ea? Ducimus quos, ea?</p>
                        </div>
                    </div>

                    <div class="text-center p-3 p-md-5 bg-white">
                        <div class="mb-4">
                            <img src="{% static "images/person_5.jpg" %}" alt="Image"
                                 class="w-50 mx-auto img-fluid rounded-circle">
                        </div>
                        <div class="">
                            <h3 class="font-weight-light h5">Nathan Dumlao</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum
                                sed ea? Ducimus quos, ea?</p>
                        </div>
                    </div>

                    <div class="text-center p-3 p-md-5 bg-white">
                        <div class="mb-4">
                            <img src="{% static "images/person_6.jpg" %}" alt="Image"
                                 class="w-50 mx-auto img-fluid rounded-circle">
                        </div>
                        <div class="">
                            <h3 class="font-weight-light h5">Brook Smith</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, iusto. Aliquam illo, cum
                                sed ea? Ducimus quos, ea?</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="site-blocks-cover overlay inner-page-cover"
             style="background-image: url({% static 'images/hero_bg_1.jpg' %});"
             data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <h2>Subscribe</h2>
                        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit nihil saepe libero sit
                            odio obcaecati veniam.</p>
                        <form action="#" method="post" class="site-block-subscribe">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control border-secondary text-white bg-transparent"
                                       placeholder="Enter Email" aria-label="Enter Email"
                                       aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}